<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'neige_outside/delete_post.css' %}" />

    <title>Delete post</title>
</head>
<body>

<h1>DO YOU REALLY WANT<br>TO DELETE THIS POST?</h1>

<form method="post" action="/neige-outside/delete/"> {% csrf_token %}
    <input type="hidden" value="{{ post.id }}" name="ID">
    <div>
        <YES><input type="submit" value="YES" id="submit" name="submit"/></YES>
        <NO><input type="submit" value="NO" id="submit" name="submit"/></NO>
    </div>
</form>

<h2>{{ post.title }}</h2>
<p>{{ post.text }}</p>


</body>
</html>