<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'neige_outside/index.css' %}" />

    <title>Neige Outside</title>
</head>
<body>

{% if latest_posts %}
<ul class="list">
    {% for post in latest_posts %}
    <li class="list_elem"><a href="/neige-outside/{{ post.id }}/">{{ post.title }}</a><p>{{ post.preview }}</p></li>
    {% endfor %}
</ul>
{% else %}
<h1>Nothing here</h1>
<div>
    <p>... for now</p>
</div>
{% endif %}

</body>
</html>