<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'neige_outside/index.css' %}" />

    <title>Neige Outside</title>
</head>
<body>

{% if is_auth == True %}
<nav><a href="/neige-outside/logout/">logout</a></nav>
{% else %}
<nav><a href="/neige-outside/login/">login</a></nav>
{% endif %}

{% if latest_posts %}
<ul class="list">
    {% for post in latest_posts %}
    <li class="list_elem"><a href="/neige-outside/{{ post.id }}/">{{ post.title }}</a><p>{{ post.preview }}</p></li>
    {% endfor %}
</ul>
{% else %}
<h1>Nothing here</h1>
<div>
    <p>... for now</p>
</div>
{% endif %}

{% if min != 0 %}
<index><a href="/neige-outside/">index</a></index>
{% endif %}

{% if min > 4 %}
<prev><a href="/neige-outside/{{ next_min }}-{{ min }}/">newer posts</a></prev>
{% else %}
{% if min > 0 %}
<prev><a href="/neige-outside/">newer posts</a></prev>
{% endif %}
{% endif %}

{% if list_index < list_size%}
<next><a href="/neige-outside/{{ max }}-{{ next_max }}/">older posts</a></next>
{% endif %}

</body>
</html>