<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'neige_outside/post.css' %}" />

    <title>{{ post.title }}</title>
</head>
<body>

{% if is_auth == True %}
<nav><a href="/neige-outside/logout/">logout</a></nav>
<delete><a href="/neige-outside/delete/{{ post.id }}">delete post</a></delete>
{% else %}
<nav><a href="/neige-outside/login/">login</a></nav>
{% endif %}

<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<p>{{ post.pub_date }}</p>

</body>
</html>